{% schema  %} 

{
    "name": "Values",
    "tag": "section",
    "settings": [{
        
        "type": "select",
        "id": "section_padding",
        "label": "padding",
        "options": [
            {"value": "2rem", "label": "small"},
            {"value": "4rem", "label": "medium"},
            {"value": "5rem", "label": "large"}

        ]
    }],
    "blocks": [ 
        {
        "type": "values",
        "name":"title",
        "settings": [{
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "enter value here"

        },
    {
        "type": "image_picker",
        "id": "value_image",
        "label": "image"
    },
        {
            "type": "textarea",
            "id": "value_text",
            "label": "a bit about your value",
            "default": "insert text here"
        },
       {
        "type": "radio",
        "id": "media",
        "label": "media_selection",
        "options": [
            {"label": "video", "value": "video"},
            {"label": "image", "value": "image"}
        ],
        "default": "image"
       },

       {
        "type": "radio",
       "id": "video_type",
       "label": "video type",
       "options": [
        {"label": "uploaded", "value": "uploaded"},
        {"label": "embedded" , "value": "embedded"}
       ]
    
    },
       {
        "type": "url",
        "id": "uploaded_url",
        "label": "uploaded video"
       },
       {
        "type": "url",
        "id" : "embedded_url",
        "label": "embedded video"
       },
       
        {
            "type": "checkbox",
            "id": "autoplay_button",
            "label": "autoplay button",
            "default" : false
            
        }
    ]

    }]
}

 {% endschema %}
<style>
    .container{
        display: flex;
        width: 100vw;   
        
        align-content: center;
    }
    .section_container{
        display: flex;
        align-self: center;
        height: 60vh;
        flex-direction: column;
        justify-content: center;
        overflow-x: scroll;
    }
.image img{
    border-radius: 50%;
}

</style>
<div class="container">
    <div class="section_container" style="padding: {{section.settings.section_padding}};">
        {% for block in section.blocks %}
        <div>
 <div class="title">
    <h1>
{{block.settings.title}}</h1>
 </div>
 {% if block.settings.media == 'image' %}
 <div class="image">
<img width="200" height="200" src= "{{block.settings.value_image |  image_url: medium }}"/>
 </div>
 {% elsif block.settings.media =='video' and block.settings.video_type == 'uploaded'%}
    <video class="videoElement" width='200' width='200'src = "{{block.settings.uploaded_url}}" {% if block.settings.autoplay_button %} autoplay {%endif%} muted></video>
        {% elsif  block.settings.media == 'video' and block.settings.video_type == 'embedded' %}
            <iframe 
            width="200" 
            height="200" 
            class="videoElement" 
            src="{{block.settings.embedded_url}}"
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
 {%endif%}
 
<div class="text">
<p>{{block.settings.value_text}}</p>
</div>
</div>
{%endfor%}
    </div>
    </div>