{% schema  %}  
{
    "name": "Header",
    "tag": "section",
    "class": "hero_section",
    "settings": [{
        "type": "image_picker",
        "id": "about_image",
        "label": "image_picker"
        
    },
          {
            "type": "select",
            "id": "text_positioning",
            "default": "center",
            "label": "positioning",
            "options": [
                {"value": "center", "label": "center"},
                {"value": "flex-end", "label": "end"},
                {"value": "flex-start", "label": "start"}
            ]
        }
      
  
],
"blocks": [{
    "type": "text",
    "name":"text",
    "settings": [{
        "type": "text",
        "default":"insert text here",
        "id": "about_text",
        "label": "Tagline"
    },
       {
      "type": "select",
        "id": "text_font_size",
         "label": "Font Size",
         "options": [
           {
             "value": "1.5rem",
             "label": "small"
           },
            {
             "value": "3.5rem",
             "label": "medium"
           },
            {
             "value": "clamp(1rem, 10vw, 15rem)",
             "label": "large"
           },
         ]
    },
      {"type": "color",
        "id": "font_color",
        "label": "Text Color",
        "default": "#D6DF7D"
      
      }
    
    ]
}
   ],



"presets": [
    {
        "name": " About Header Section"
    }
]
}


{% endschema %}
<style>
    .about_container{
       aspect-ratio: 16 / 9;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background-position: revert;
            flex-direction: column;

    }
    .about-text{
      padding: 5rem;
        
    }
</style>

<div >
<div class= "about_container" style=
"background-image: url('{{section.settings.about_image |  image_url : large }}');
  justify-content: {{ section.settings.text_positioning }}"
  >

{% for block in section.blocks %}
    {% case block.type  %}
    {%when 'text' %}

<h1 style = 
  "font-size : {{block.settings.text_font_size }}; 
  color: {{ block.settings.font_color }};
  align-self: {{ block.settings.text_positioning }};"
  
  class="about-text">{{block.settings.about_text}}</h1>
{%endcase%}
{%endfor%}
</div>
</div>
