{% schema %}

{
  "name": "Custom Image Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    }

  ],
  "blocks": [
    {
      "type": "header",
      "name": "headline",

      "settings": [
        {
          "type": "text",
          "id": "banner_header",
          "default": "insert text here",
          "label": "Banner Text"

        }

      ]

    },
    {
          "type": "body_text",
          "name": "body",
          "settings":[
            {
              "type": "textarea",
              "id": "banner_text",
              "default": "insert text",
              "label": "banner text",


            }
          ]
        },
    {
      "type": "button",
      "name": "Banner Button",
      "settings": [
        {
          "type": "text",
          "default": "insert CTA here",
          "id": "banner_button_text",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "button_link"
        }
      ]
    }
  ],

 "presets": [
  {
    "name": "Custom Image Banner",
    "category": "Custom"
  }
]
}
{% endschema %}
<style>
  .banner_image{
    object-fit: contain;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
    min-height: 100vh;

    height: auto;


  }

  .banner_header{

  }
  .banner_text{

    z-index: 2;
  }
  .custom_image_banner_container{
    max-width: auto;
    height: auto;
    position: relative;

  }
  .text-container{
    padding: 5rem;
      width: 100%
        transform: translateX(-50%);
      top: 2%;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
  }
  .banner_button{
    background-color: #DAF3C1;
    width: auto;
    align-self: center;
    text-decroation: none;
    color: green;
    
  }
  .banner_button_text{
    text-decoration: none;

        color: green;

  }
  .banner_button_container{
        align-self: center;
        width: auto;
    padding: 0 20px 0 20px;
    text-decoration: none;
      background-color: #DAF3C1;
}
  a{
    text-decoration: none;
  }
</style>

<div class="custom_image_banner_container">
  <div class="image_container">
    {% if section.settings.image %}
      <img class="banner_image" src="{{ section.settings.image | image_url}}" width="auto" height="auto">
    {% endif %}
  </div>
  <div class="text-container">
    <div class="text">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'header' %}
            <h1 class="banner_header">{{ block.settings.banner_header }}</h1>
          {% when 'body_text' %}
            <p class="banner_text">{{ block.settings.banner_text }}</p>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="banner_button_container">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'button' %}
            {% if block.settings.button_link and block.settings.banner_button_text %}
              <a class="banner_button" href="{{ block.settings.button_link }}">
                <h2 class="banner_button_text">{{ block.settings.banner_button_text }}</h2>
              </a>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
