{% schema  %} 
    {
        "name": "Hero Section",
        "settings": [
            {
                "type": "select",
                "label": "Hero text line",
                "id": "div_range",
                "options": [
                    {"value": "span 1", "label": "small"},
                    {"value": "span 3", "label": "medium"},
                    {"value": "span 5", "label": "large"}
                ],
                "default": "span 5"
            }
        ],
        "blocks": [
            {
                "type": "hero_text_line",
                "name": "Hero Text Line",
                "settings": [
                    {
                        "id": "text_line",
                        "type": "text",
                        "label": "Enter text line here",
                        "default": "Enter text line here"
                    },
                    {
                        "type": "select",
                        "id": "font_weight",
                        "label": "Font Weight",
                        "default": "100",
                        "options": [
                            {"label": "Light", "value": "100"},
                            {"label": "Medium", "value": "400"},
                            {"label": "Bold", "value": "500"}
                        ]
                    },
                    {
                        "id": "block_image",
                        "type": "image_picker",
                        "label": "Text Image"
                    }
                ]
            },
            {
                "type": "hero_button",
                "name": "Hero Button",
                "settings": [
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text",
                        "default": "Input button text here"
                    },
                    {
                        "type": "color",
                        "id": "button_color",
                        "label": "Button Color",
                        "default": "#000000"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero Section"
            }
        ]
    }
    {% endschema %}
    
    <style>
    .container {
        padding: 2rem clamp(10px, 1vw + 10px, 5rem);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        font-family: "Taviraj", serif;
        font-style: normal;
    }
    .hero-text-line {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        height: min-content;
    }
    .hero-text {
        font-size: clamp(3rem, 3vw + 20px, 10rem);
        margin: 0;
    }
    .hero-text p {
        margin: 0;
    }
    .hero-text-line-container {
        max-width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .hero_button {
        background-color: black;
        padding: 1rem;
        width: 100px;
        color: white;
    }
    .line{
        height: 30vh;
      align-self: center;
  width: 1px;
  background-color: rgb(64, 64, 64);
  margin-left: 2rem;
  margin-right: 2rem;
    }
    .outerContainer{
        display: flex;
        flex-direction: row;
      background-image: 'none';
    }
    </style>
    <div class="outerContainer">
            <div class="line"> 
             
              
            </div>

    <div class="container">
        <div class="hero-text-line-container">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'hero_text_line' %}
            <div class="hero-text-line">
                <div class="hero-text" style="font-weight: {{ block.settings.font_weight }};">
                    <p>{{ block.settings.text_line }}</p>
                </div>
                {% if block.settings.block_image %}
                <img class="hero-image" width="50" height="50" src="{{ block.settings.block_image | img_url: 'master' }}" alt="Hero image">
                {% endif %}
            </div>
            {% endcase %}
            {% endfor %}
        </div>
        <div class="hero-button-container">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'hero_button' %}
            <div class="hero_button" style="background-color: {{ block.settings.button_color }};">
                {{ block.settings.button_text }}
            </div>
            {% endcase %}
            {% endfor %}
        </div>

    </div>
    <div class="line">

        <!-- If you do not specify the stroke
             color the line will not be visible -->
       </div>
    </div>

    <script>
      const images = document.querySelectorAll(.hero-image);
      const container = document.querySelectorAll(.container);

      images.forEach (img =>{
        img.addEventListener('mouseover', function(){
          container.style.backgroundImage = 'url(${this.src}';
        });
        img.addEventListener('mouseout', function() {
          container.style.backgroundImage = 'none';
        });
      });
    </script>
