{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [

        {
        "type": "select",
        "label": "Hero text line",

        "id": "div_range",
        "options": [
            {
                "value": "span 1" ,
                "label": "small"
                    },
                    {
                "value": "span 3" ,
                "label": "medium"
                    },
                    {
                        "value": "span 5",
                        "label": "large"
                    }
        ]  ,
        "default": "span 5"


        }
    
        
    ],
    "blocks": [

     
                {
                    "type": "hero_text_line",
                    "name": "Hero Text Line",
                    "settings": [
                    {
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    },
                    {
                        "type": "select",
                        "id": "font_weight",
                        "label": "font weight",
                        "default": "300",
                        "options": [{
                            "label": "light",
                        "value": "300"
                        },
                    {
                        "label": "medium",
                        "value": "400"

                    },
                        {
                            "label": "bold",
                            "value": "500"
                        }]
                    },
                    {
                        "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"
                    }
                    ]
    
                  
                },
                
                    {
                        "type": "hero_button",
                        "name" : "Hero Button",
                        "settings": [
                            {
                                "type": "text",
                                "id": "button_text",
                                "label": "Button Text",
                                "default": "input button text here"
                            },
                            {
                                "type": "color",
                                "id": "button_color",
                                "label": "Button Color",
                                "default": "#00000"
                            }

                        ]

                    }
        
            
        
    ],
    
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
 {% endschema %}

<style>
    .container{
    padding: 2rem clamp(10px, 1vw + 10px, 5rem) 2rem clamp(10px, 1vw + 10px, 5rem);
        display: flex;
        flex-direction: row;
        width: 100%;

        height: auto;
     font-family: "Taviraj", serif;
  font-style: normal;
}
    
    .hero-text-line{
        display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 0px;
  height: min-content;

    }
    .hero-text{
        font-size: clamp(3rem, 2vw + 20px, 7rem);
        margin: 0px;

    }
    .hero-text p {
        margin: 0px;
    }
    .hero-text-line-container{
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
.hero_button{
    background-color: black;
    padding: 1rem;
    color: white;
}
</style>

<script>



</script>

<div>
    <div>


<div class="container">
<div class="hero-text-line-container">
{% for block in section.blocks %}
    {% case block.type %}
    {% when 'hero_text_line' %}
        <div class="hero-text-line">
            <div style="font-weight:{{block.settings.font_weight}};"class="hero-text">
        <p>{{block.settings.text_line}}</p>
        </div>
        <div class='hero-image'>
<img width=50px height="50px" src="{{block.settings.block_image | img_url : 'master'}}" alt="hero image">
</div>
</div>
<div>
</div>
{%when 'hero_button'%}
    <button class="hero_button" style="background-color: {{block.settings.button_color}};">  {{block.settings.button_text}}</button>
{% else %} 
<p>Unsuppored block type</p>
    {% endcase %}
{% endfor %}
</div>
</div>

</div>
</div>

