{%- liquid assign columns = section.settings.columns_desktop 
-%}
  {{ 'section-image-collage.css' | asset_url | stylesheet_tag }}

<div class="image-collage image-collage--{{ section.id }}"> 
<div class="image-collage__container grid grid--{{ columns }}-col-desktop">
  {%- for block in section.blocks -%}
  {%- assign size_class = block.settings.image_size -%}

    <div class ="image-collage__item {{size_class}}">
      {% if block.settings.image != blank %}
        {{ block.settings.image | image_url: width: 1000 | image_tag:
        loading: "lazy",
        class: 'image-collage__image'
      }}
      {%  else  %}
      <div class="image-collage__placeholder"> No Image </div>
    {%  endif %}
    </div>
    {% endfor %}
</div>
</div>
        
{% schema %}
  {
    "name": "Image Collage",
    "settings": [
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 3,
        "label": "Columns on Desktop"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name" : "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "select",
            "id": "image_size",
            "label": "Image Size",
            "options": [
              {"value": "size-small", "label": "Small (1x1"},
              {"value": "size-medium", "label": "Medium (2x1"},
              {"value": "size-large", "label": "Large (2x2"},
            ],
            "default": "size-small"
          }
          
        ]
      }
    ],
    
  }
{% endschema %}

