{% schema %}
{
  "name": "Subscription Multicolumn",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_name",
      "label": "Header",
      "default": "Subscription"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "label": "Color Scheme",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "dark", "label": "Dark" },
        { "value": "accent", "label": "Accent" }
      ],
      "default": "accent"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section Padding",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    }
  ],
  "blocks": [
    {
      "type": "subscription_option",
      "name": "Subscription Option",
      "settings": [
        {
          "type": "text",
          "id": "subscription_name",
          "label": "Header",
          "default": "Subscription Header"
        },
        {
          "type": "richtext",
          "id": "subscription_benefit",
          "label": "Subscription Benefit"
          
        },
           {
          "type": "richtext",
          "id": "subscription_benefit_2",
          "label": "Subscription Benefit"
        },
           {
         "type": "richtext",
          "id": "subscription_benefit_3",
          "label": "Subscription Benefit"
        },
           {
          "type": "richtext",
          "id": "subscription_benefit_4",
          "label": "Subscription Benefit"
        },
           {
          "type": "richtext",
           "id": "subscription_benefit_5",
          "label": "Subscription Benefit"
        },
        {
          "type": "text",
          "id": "subscription_price",
          "label": "Subscription Price",
          "default": "$0.0"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Color Scheme",
          "options": [
            { "value": "light", "label": "Light" },
            { "value": "blue", "label": "Blue" },
            { "value": "green", "label": "Green" }
          ],
          "default": "green"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscription Multicolumn",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<style>
.subscription-section {
  width: 100%;
}

.subscription_option_container.option-light {
  background-color: #ffffff;
  color: #333;
}

.subscription_option_container.option-blue {
  background-color: #e0f0ff;
  color: #003366;
}

.subscription_option_container.option-green {
  background-color: #C7F582;
  color: #004d00;
}

.padding-small {
  padding: 1rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}
[  class*="option-"]{
  padding: 5rem;
  
  margin: 1rem;
  border-radius: 10px;
}
  [class*="subscription_options__container"]{
    display: flex;
    flex-directon: row;
    flex-wrap: wrap;
    width: 100%;
  }
</style>

<section class="subscription-section color-scheme-{{ section.settings.section_color_scheme }} padding-{{ section.settings.section_padding }}">
  <div class="page-width">
    <h1>{{ section.settings.section_name }}</h1>

    <div class="subscription_options__container">
      {% for block in section.blocks %}
        {% if block.type == 'subscription_option' %}
          <div class="subscription_option_container option-{{ block.settings.color_scheme }}">
            <h2>{{ block.settings.subscription_name }}</h2>
            {%   if  "block.settings.subscription_benefit" != blank%}
            <p>{{ block.settings.subscription_benefit }}</p>
          
 {% endif %}
            {%   if  "block.settings.subscription_benefit_2" != blank%}
              <p>{{ block.settings.subscription_benefit_2 }}</p>

              {% endif %}
          {%   if  "block.settings.subscription_benefit_3" != blank%}
              <p>{{ block.settings.subscription_benefit_3 }}</p>

              {% endif %}
           {%   if  "block.settings.subscription_benefit_4" != blank%}
              <p>{{ block.settings.subscription_benefit_4 }}</p>

              {% endif %}
           {%   if  "block.settings.subscription_benefit_5" != blank%}
              <p>{{ block.settings.subscription_benefit_5 }}</p>

              {% endif %}

            <p><strong>{{ block.settings.subscription_price }}</strong></p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>